:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #f65d4f;
    --bs-secondary: #003a70;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #f65d4f;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  }

html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position:relative;
    padding-bottom: 250px; /* TODO */
}

footer {
    margin-top: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.team-badge{
  width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.qbutton {
  margin-left: 20px;
}

.quiz-info-button{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

[v-cloak] {
  display: none;
}

  .poke-primary{
    background-color: var(--bs-primary);
    color: var(--bs-white)
  }

  .poke-secondary{
    background-color: var(--bs-secondary);
    color: var(--bs-white)
  }

  .poke-secondary:hover{
    color: var(--bs-warning)
  }

  .poke-text-primary{
    color: var(--bs-primary)
  }

  .poke-text-secondary{
    color: var(--bs-secondary)
  }

  .nav-link{
    color: var(--bs-white);
  }

  .nav-link:hover{
    color: var(--bs-warning)
  }

.card{
    min-width: 100%;
    border-radius: 0 15px;
    padding: 20px;
}
.card-q{
    min-width: 60%;
}
.ans-option-btn{
    min-width: 50%;
    font-size: 16px;
    color: #ffffff;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5px;
}
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}
.card-img, .card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    height: 350px;
}

.quiz-btn{
  display: flex;
  justify-content: center;
  margin: auto;
}

.img-quiz{
  min-width: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  height: auto;
}

.img-quiz2{
  min-width: 5rem;
  width: 50%;
  display: flex;
  justify-content: center;
  margin: auto;
  height: auto;
}
	
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 var(--bs-secondary);
  margin: 8px;
}

.card:hover {
  box-shadow: 0 4px 8px 0 var(--bs-secondary);
  margin: 8px;
}

.card img {
  width: 30%;
  align-self: center;
}

.about-section {
  padding: 50px;
  text-align: center;
}

.container {
  padding: 0 16px;
  text-align: center;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background: var(--bs-secondary);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 1.5em;
  text-decoration: none;
  transition: 0.5s;
}

.a_button {
  color: white;
}

.a_button:hover {
  color: white;
}

.button:hover {
  background-color: var(--bs-primary);
}

.row {
  justify-content: center;
  margin-top: 5%;
}